body {
  background-color: rgb(0, 0, 0);
}
.main1 {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: block;
  margin-top: 5%;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 600px;
  background-color: rgb(227, 226, 226);
  border-radius: 2rem;
  padding: 2rem;
}
.image img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
}
.name h1 {
  font-family: Doto, sans-serif;
  text-align: center;
  margin-top: 1rem;
}
.address {
  text-align: center;
  margin-top: 1rem;
}
.about {
  text-align: center;
  margin-top: 1rem;
  font-size: x-large;
}
.github {
  display: block;
  margin: 1rem auto;
  background: #96f5ff;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
}
.github a {
  text-decoration: none;
  color: rgb(19, 19, 19);
}
.linkd {
  display: block;
  margin: 1rem auto;
  background: #96f5ff;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
}
.ins {
    display: block;
    margin: 1rem auto;
    background: #96f5ff;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
  }
.linkd a {
  text-decoration: none;
  color: rgb(19, 19, 19);
}
.abo {
  font-size: x-large;
  font-family: "Dancing Script", cursive;
  text-align: justify;
  margin: 2rem;
}
.ins a {
    text-decoration: none;
    color: rgb(19, 19, 19);
  }

@media (max-width: 480px) {
  .main {
    width: 100%;
    height: auto;
  }
  .github,
  .linkd, ins {
    padding: 10px 30px;
  }
  .abo {
    margin: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .github,
  .linkd, ins {
    padding: 10px 40px;
  }
  .abo {
    margin: 1.5rem;
  }
}

@media (min-width: 769px) {
  .main {
    width: 100vh;
    height: 80vh;
  }
}

.github:hover {
  background-color: greenyellow;
}
.linkd:hover {
  background-color: blueviolet;
}
.ins:hover{
    background-color: #96f5ff;
}
